*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

body{
    background-image: url("back ground 3.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}

.container{
    margin: auto;
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: grey;
    height: 50px;
    margin-top: 75px;
}

.nav-link{
    position: relative;
    font-size: 30px;
    font-family: league spartan;
    color:#fff;
    text-decoration: none;   
    text-transform: uppercase;
    margin: 50px;
}

.nav-link::after{
    content: "";
    left: 0;
    position: absolute;
    bottom: -5px;
    transition: 0.5s;
    width: 0;
    height: 2px;
    background: #fff;
}

.nav-link:hover::after{
    width: 100%;
}

h1{
    font-size: 45px;
    color: #fff;
    font-family: raleway;
    text-align: center; 
    margin: 20px;
    text-transform: uppercase;
}

h2{
    font-size: 30px;
    font-weight: 250;
    font-family: league spartan;
    color: #fff;
}

.h1{
    font-size: 40px;
    font-weight: 500;
}

.h2{
    font-size: 35px;
    font-weight: 200;
    margin-top: 30px;
}
.about{
   font-size: 45px;
   font-weight: 500; 
   margin-top: 10px;
   text-transform: capitalize;
}

img{
    width: 500px;
    height: 400px;
    border-radius: 90px 90px;
}

.main{
    display: flex;
    width: 70%;
    border: 5px solid grey;
    padding: 50px;
    margin-top: 50px;
}

.main1{
    margin: 10px;
    line-height: 45px;
}

hr{
    margin: 0px 30px;
}





