*{
  padding: 0px;
  margin: auto;
  box-sizing: border-box;
}

body{
  background-color:grey;
}

.container{
  width: 75%;
  margin: auto;
}

.head{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 40px 400px;
}

h1{
  text-align: center;
  color: #09090e;
  font-size: 50px;
  font-family: teko;
}

img{
  height: 100px;
  width: 100px;
}

.temp img{
  height: 50px;
  width: 50px;
  text-align: center;
  margin-left: -125px;
  background-color: grey;
}

.temperature{
  position: absolute;
  border-radius: 90px;
  width: 500px;
  height: 600px;
  margin-left:430px; 
  border: 7px solid white;
}

.temperature .temp, .clear{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding-top: 50px;
}

.temp input{
  border: 5px solid #fff;
  text-align: center;
  height: 60px;
  width: 350px;
  background-color: transparent;
  color:black;
  font-size: 40px;
  border-radius: 10px;
  outline: none;
}

::placeholder{
  color: #ff5714;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

button{
  width: 180px;
  height: 60px;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 15px;
  transition: ease-in .3s;
}

button:hover{
  background-color: #ff9e00;
}

/* Styles for screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #bedcfe;
  }
  
  .container {
    width: 100%; 
    margin: auto;
  }
  
  .head {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 40px 0; 
  }
  
  h1 {
    text-align: center;
    color: #2b2d42;
    font-size: 30px; 
    font-family: teko;
  }
  
  img {
    height: 75px; 
    width: 75px; 
  }
  
  .temperature {
    position: relative;
    border-radius: 90px;
    width: 70%; 
    height: 335px; 
    margin: 0px 65px;
    border: 7px solid white;
  }
  
  .temperature .temp, .clear {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding-top: 20px; 
  }
  
  .temp input {
    border: 5px solid #fff;
    text-align: center;
    height: 40px;
    width: 50%; 
    background-color: transparent;
    color: #ff5714;
    font-size: 20px; 
    border-radius: 10px;
    outline: none;
  }
  
  ::placeholder {
    color: #ff5714;
  }
  
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  button {
    width: 30%; 
    height: 40px; 
    border-radius: 10px;
    font-size: 20px; 
    cursor: pointer;
    border-radius: 15px;
    transition: ease-in .3s;
    margin-left: 20px;
  }
  
  button:hover {
    background-color: #ff9e00;
  }

  .temp img{
    height: 30px;
    width: 30px;
    text-align: center;
    margin-left: -35px;
    background-color: #bedcfe;
  }
}
  









